<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <head>
        
        <!-- META DATA -->
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=egde">      
        
        <!-- FILE LINKS -->
        
        <!-- WEBSITE TITLE -->
        <title>Jibber Gabber | Chat</title>
        <link rel="icon" href="../templates/img/logo-icon.svg">
        
        <style>
            
        </style>
        
    </head> <!-- END OF HEAD -->
    
    <!--BODY-->
    <body class="template">

        <!--HEADER-->
        <header>

        </header>

        <!--MAIN-->
        <main>

        <h3>Hi + $[username]</h3>

        </main>

        <!--FOOTER-->
        <footer>

        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    </body>

</html> 