<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <head>
        
        <!-- META DATA -->
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=egde">      
        
        <!-- FILE LINKS -->
        
        <!-- WEBSITE TITLE -->
        <title>Jibber Gabber | Log In</title>
        <link rel="icon" href="../templates/img/logo-icon.svg">   
        
    </head> <!-- END OF HEAD -->
    
    <!--BODY-->
    <body class="template">

        <!--HEADER-->
        <header>
            

        </header>

        <!--MAIN-->
        <main>

        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username">
            <input type="submit" value="submit">
        </form>

        </main>

        <!--FOOTER-->
        <footer>

        </footer>

    </body>

</html>    